<mat-card>
  <div class="row">
    <div class="col-sm-7">
      <mat-card-header>
        <mat-card-title>Almacenes Registrados</mat-card-title>
        <mat-card-subtitle
          >Visualiza los Almacenes y permite crear Nuevos
          Almacenes.</mat-card-subtitle
        >
      </mat-card-header>
    </div>
    <div class="col-sm-5">
      <ul class="nav justify-content-end menuboton">
        <li class="nav-item">
          <button mat-raised-button class="boton" (click)="CrearAlmacen()">
            <mat-icon>add</mat-icon>Nuevo
          </button>
        </li>
      </ul>
    </div>
  </div>
  <table mat-table [dataSource]="Almacenes" matSort class="tablaAlmacenes">
    <ng-container matColumnDef="CodAlmacen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        CodAlmacen
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.CodAlmacen }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Almacen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Almacén
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Almacen }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Latitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Latitud
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Latitud }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Longitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Longitud
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.Longitud }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
       <!--  <button mat-icon-button [matMenuTriggerFor]="accionesConductores">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #accionesConductores="matMenu">
          <button mat-menu-item>
            <span>Detalle</span>
          </button>
        </mat-menu> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="AlmacenesColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: AlmacenesColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
</mat-card>
